In [1]:
%pip install pandas

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in c:\users\vzvijayk\appdata\roaming\python\python312\site-packages (2.2.1)
Requirement already satisfied: numpy<2,>=1.26.0 in c:\users\vzvijayk\appdata\roaming\python\python312\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\vzvijayk\appdata\roaming\python\python312\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\vzvijayk\appdata\roaming\python\python312\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\vzvijayk\appdata\roaming\python\python312\site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in c:\users\vzvijayk\appdata\roaming\python\python312\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.2.1 -> 24.0
[notice] To update, run: python.exe -m pip install --upgrade pip

In [4]:
import pandas as pd
df = pd.read_csv('pandas marathon.csv')
df.head(5)

         Date         A         B         C         D    Category  Value
0  01-01-2023  1.764052  0.400157  0.978738  2.240893  Category 2     17
1  02-01-2023  1.867558 -0.977278  0.950088 -0.151357  Category 1     72
2  03-01-2023 -0.103219  0.410599  0.144044  1.454274  Category 3     63
3  04-01-2023  0.761038  0.121675  0.443863       NaN  Category 2     24
4  05-01-2023  1.494079 -0.205158  0.313068 -0.854096  Category 1     92

In [5]:
# Display the list of column names
column_names = df.columns.tolist()
print(column_names)

['Date', 'A', 'B', 'C', 'D', 'Category', 'Value']

In [7]:
df.dtypes

Date         object
A           float64
B           float64
C           float64
D           float64
Category     object
Value         int64
dtype: object

In [9]:
category_column = df['Category']
print(category_column)

0     Category 2
1     Category 1
2     Category 3
3     Category 2
4     Category 1
         ...
95    Category 3
96    Category 3
97    Category 3
98    Category 2
99    Category 1
Name: Category, Length: 100, dtype: object

In [11]:
selected_rows = df.iloc[9:20, :]
print(selected_rows)

          Date         A         B         C         D    Category  Value
9   10-01-2023  1.230291  1.202380 -0.387327 -0.302303  Category 3     81
10  11-01-2023 -1.048553       NaN -1.706270  1.950775  Category 2     28
11  12-01-2023 -0.509652 -0.438074 -1.252795  0.777490  Category 3     48
12  13-01-2023 -1.613898 -0.212740 -0.895467  0.386902  Category 3     12
13  14-01-2023 -0.510805 -1.180632 -0.028182  0.428332  Category 3     88
14  15-01-2023  0.066517  0.302472 -0.634322 -0.362741  Category 3     79
15  16-01-2023 -0.672460 -0.359553 -0.813146 -1.726283  Category 2     31
16  17-01-2023  0.177426 -0.401781 -1.630198  0.462782  Category 3     91
17  18-01-2023 -0.907298  0.051945  0.729091  0.128983  Category 3     35
18  19-01-2023  1.139401 -1.234826  0.402342 -0.684810  Category 3     55
19  20-01-2023 -0.870797 -0.578850 -0.311553       NaN  Category 3     82

In [12]:
average_value = df['Value'].mean()
print(average_value)

48.98

In [13]:
total_missing_values = df.isnull().sum().sum()
print(total_missing_values)

20

In [15]:
unique_categories = df['Category'].unique()
print(unique_categories)

['Category 2' 'Category 1' 'Category 3']